body{
	background-color: lightgrey;
	color: purple;
	font-family: verdana;	
	font-size: 40px;
	height: 720px;
	width: 1080px;
}
.button{
	height: 40px;
	width: 400px;
	border-color: purple;
	background-color: white;
}