body{
	background-color: 	#47005a;
	color:#00578b;
	font-family: verdana;	
	font-size: 40px;
	height: 720px;
	width: 1080px;
}
.button{
	height: 40px;
	width: 24%;
	border-color: #105272;
	background-color: #5b0e7e;
	color: #105272;
	font-size: 30px;
}
table{
	border:solid;
	width: 100%;
	border-collapse: collapse;
}
td, th{
	border: solid;
}
#pic{
	height: 100%;
	width: 100%;
}
#nun{
	border: none;
	padding: 0px;
}
#pic2{
	height: 50%;
	width: 50%;
	background-color:#5b0e7e;
	border: solid;
	border-color:#00578b;
	border-collapse: collapse;
	border-top: none;
}
#picdrop{
	height: 200%;
	width: 100%;
	background-color:#5b0e7e;
	border: solid;
	border-color:#00578b;
	border-collapse: collapse;

}
